<h1 class="text-white text-center text-capitalize"><%= @list.name %></h1>

<% @list.movies.each do |movie|%>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <p class="m-4 text-capitalize text-white"><%= movie.title %></p>
  <img src="<%= movie.poster_url %>" alt="Poster for the movie #{movie.title}" class="rounded border border-light m-4">
  <p class="m-4 text-white">Comment: <%= bookmark.comment %></p>
  <%= link_to "delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confrim: "Confirm deletetion of #{movie.title} from list #{@list.name}."}, class:"btn btn-transparent btn-outline-danger p-1 mx-4 text-danger" %>
  <%= link_to "Create Bookmark", new_list_bookmark_path(@list), class:"btn-outline-success btn btn-transparent mx-4 text-white"%>
<% end %>
